# Necessary Imports, Add imports here as required

In [6]:
import numpy as np
import pandas as pd
import requests
import json
import collections
import random
from datetime import date
from heapq import nlargest
from zipfile import ZipFile
from dotenv import load_dotenv
from panel.interact import interact
import panel as pn
from panel import widgets
import plotly.express as px
import hvplot.pandas
import kaggle as kg
import os
pn.extension("plotly")

In [7]:
load_dotenv()
map_box_api = os.getenv("MAPBOX")

# Set the Mapbox API
px.set_mapbox_access_token(map_box_api)

# Kaggle Dataset Imports via our kaggle api

1. CO2 GHG Emissions Data
2. Greenhouse Gas Emissisons
3. Global CO2 Emissions
4. Climate Change: Earth Surface Temperature Data
5. Global Commodity Trade Statistics
6. World Development Indicators by Country

In [9]:
!kaggle datasets download -d yoannboyere/co2-ghg-emissionsdata

Downloading co2-ghg-emissionsdata.zip to C:\Users\franc\Documents\Python Trading\Class Files\ESG_by_industry_country

  0%|          | 0.00/147k [00:00<?, ?B/s]
100%|##########| 147k/147k [00:00<00:00, 21.5MB/s]

### Process to export zip file and content

# 1. CO2 GHG Emissisons

In [10]:
file_name = 'co2-ghg-emissionsdata.zip' #the file is your dataset exact name
with ZipFile(file_name, 'r') as zip:
  zip.extractall()
  print('Done')

Done

# 2. Greenhouse Gas Emissions

In [14]:
!kaggle datasets download -d sansuthi/greenhouse-gas-emissions

Downloading greenhouse-gas-emissions.zip to C:\Users\franc\Documents\Python Trading\Class Files\ESG_by_industry_country

  0%|          | 0.00/567 [00:00<?, ?B/s]
100%|##########| 567/567 [00:00<00:00, 283kB/s]

In [15]:
file_name = 'greenhouse-gas-emissions.zip' #the file is your dataset exact name
with ZipFile(file_name, 'r') as zip:
  zip.extractall()
  print('Done')

Done

# 3. Global CO2 Emissions

In [16]:
!kaggle datasets download -d sansuthi/global-co2-emissions

Downloading global-co2-emissions.zip to C:\Users\franc\Documents\Python Trading\Class Files\ESG_by_industry_country

  0%|          | 0.00/5.90k [00:00<?, ?B/s]
100%|##########| 5.90k/5.90k [00:00<00:00, 753kB/s]

In [17]:
file_name = 'global-co2-emissions.zip' #the file is your dataset exact name
with ZipFile(file_name, 'r') as zip:
  zip.extractall()
  print('Done')

Done

# 4. Climate Change: Earth Surface Temperature Data

In [18]:
!kaggle datasets download -d berkeleyearth/climate-change-earth-surface-temperature-data

Downloading climate-change-earth-surface-temperature-data.zip to C:\Users\franc\Documents\Python Trading\Class Files\ESG_by_industry_country

  0%|          | 0.00/84.7M [00:00<?, ?B/s]
  2%|2         | 2.00M/84.7M [00:00<00:05, 16.4MB/s]
  5%|4         | 4.00M/84.7M [00:00<00:04, 17.2MB/s]
  7%|7         | 6.00M/84.7M [00:00<00:05, 13.9MB/s]
  9%|9         | 8.00M/84.7M [00:00<00:05, 15.1MB/s]
 12%|#1        | 10.0M/84.7M [00:00<00:05, 15.5MB/s]
 14%|#4        | 12.0M/84.7M [00:00<00:04, 16.6MB/s]
 17%|#6        | 14.0M/84.7M [00:00<00:04, 15.5MB/s]
 19%|#8        | 16.0M/84.7M [00:01<00:04, 16.7MB/s]
 21%|##1       | 18.0M/84.7M [00:01<00:04, 17.3MB/s]
 25%|##4       | 21.0M/84.7M [00:01<00:03, 19.4MB/s]
 28%|##8       | 24.0M/84.7M [00:01<00:03, 20.5MB/s]
 32%|###1      | 27.0M/84.7M [00:01<00:02, 22.3MB/s]
 35%|###5      | 30.0M/84.7M [00:01<00:02, 24.5MB/s]
 39%|###8      | 33.0M/84.7M [00:01<00:02, 26.3MB/s]
 42%|####2     | 36.0M/84.7M [00:01<00:01, 27.6MB/s]
 47%|####7     | 40.0M/84.7M [00:01<00:01, 30.1MB/s]
 52%|#####1    | 44.0M/84.7M [00:02<00:01, 29.4MB/s]
 57%|#####6    | 48.0M/84.7M [00:02<00:01, 32.4MB/s]
 61%|######1   | 52.0M/84.7M [00:02<00:01, 33.8MB/s]
 66%|######6   | 56.0M/84.7M [00:02<00:00, 33.9MB/s]
 71%|#######   | 60.0M/84.7M [00:02<00:01, 18.8MB/s]
 74%|#######4  | 63.0M/84.7M [00:03<00:01, 19.8MB/s]
 78%|#######7  | 66.0M/84.7M [00:03<00:01, 18.3MB/s]
 83%|########2 | 70.0M/84.7M [00:03<00:00, 21.2MB/s]
 87%|########7 | 74.0M/84.7M [00:03<00:00, 24.0MB/s]
 91%|######### | 77.0M/84.7M [00:03<00:00, 25.5MB/s]
 94%|#########4| 80.0M/84.7M [00:03<00:00, 26.3MB/s]
 98%|#########7| 83.0M/84.7M [00:03<00:00, 21.5MB/s]
100%|##########| 84.7M/84.7M [00:03<00:00, 22.2MB/s]

In [19]:
file_name = 'climate-change-earth-surface-temperature-data.zip' #the file is your dataset exact name
with ZipFile(file_name, 'r') as zip:
  zip.extractall()
  print('Done')

Done

# 5. Global Commodity Trade Statistics

In [20]:
!kaggle datasets download -d unitednations/global-commodity-trade-statistics

Downloading global-commodity-trade-statistics.zip to C:\Users\franc\Documents\Python Trading\Class Files\ESG_by_industry_country

  0%|          | 0.00/121M [00:00<?, ?B/s]
  1%|          | 1.00M/121M [00:00<00:13, 9.53MB/s]
  2%|2         | 3.00M/121M [00:00<00:08, 15.2MB/s]
  4%|4         | 5.00M/121M [00:00<00:08, 14.9MB/s]
  6%|5         | 7.00M/121M [00:00<00:07, 16.5MB/s]
  8%|8         | 10.0M/121M [00:00<00:07, 16.5MB/s]
 11%|#         | 13.0M/121M [00:00<00:06, 18.6MB/s]
 13%|#3        | 16.0M/121M [00:00<00:05, 18.4MB/s]
 16%|#5        | 19.0M/121M [00:01<00:05, 20.1MB/s]
 18%|#8        | 22.0M/121M [00:01<00:04, 22.0MB/s]
 21%|##        | 25.0M/121M [00:01<00:04, 23.3MB/s]
 23%|##3       | 28.0M/121M [00:01<00:04, 23.8MB/s]
 27%|##6       | 32.0M/121M [00:01<00:03, 26.0MB/s]
 29%|##9       | 35.0M/121M [00:01<00:03, 27.3MB/s]
 32%|###2      | 39.0M/121M [00:01<00:02, 29.5MB/s]
 36%|###5      | 43.0M/121M [00:01<00:02, 31.2MB/s]
 39%|###8      | 47.0M/121M [00:02<00:02, 30.8MB/s]
 41%|####1     | 50.0M/121M [00:02<00:02, 30.5MB/s]
 45%|####4     | 54.0M/121M [00:02<00:02, 32.7MB/s]
 48%|####8     | 58.0M/121M [00:02<00:01, 33.9MB/s]
 51%|#####1    | 62.0M/121M [00:02<00:01, 34.9MB/s]
 55%|#####4    | 66.0M/121M [00:02<00:01, 35.3MB/s]
 58%|#####8    | 70.0M/121M [00:02<00:01, 31.9MB/s]
 61%|######1   | 74.0M/121M [00:03<00:02, 21.6MB/s]
 64%|######3   | 77.0M/121M [00:03<00:01, 23.3MB/s]
 67%|######7   | 81.0M/121M [00:03<00:01, 26.4MB/s]
 70%|#######   | 85.0M/121M [00:03<00:01, 28.9MB/s]
 74%|#######3  | 89.0M/121M [00:03<00:01, 31.1MB/s]
 77%|#######7  | 93.0M/121M [00:03<00:00, 33.1MB/s]
 80%|########  | 97.0M/121M [00:03<00:00, 29.4MB/s]
 84%|########3 | 101M/121M [00:04<00:00, 28.2MB/s]
 87%|########7 | 105M/121M [00:04<00:00, 29.9MB/s]
 90%|########9 | 108M/121M [00:04<00:00, 29.5MB/s]
 92%|#########2| 111M/121M [00:04<00:00, 29.9MB/s]
 95%|#########4| 114M/121M [00:04<00:00, 29.6MB/s]
 98%|#########7| 118M/121M [00:04<00:00, 31.4MB/s]
100%|##########| 121M/121M [00:04<00:00, 27.0MB/s]

In [21]:
file_name = 'global-commodity-trade-statistics.zip' #the file is your dataset exact name
with ZipFile(file_name, 'r') as zip:
  zip.extractall()
  print('Done')

Done

# 6. World Development Indicators By Country

In [22]:
!kaggle datasets download -d hn4ever/world-development-indicators-by-countries

Downloading world-development-indicators-by-countries.zip to C:\Users\franc\Documents\Python Trading\Class Files\ESG_by_industry_country

  0%|          | 0.00/51.9k [00:00<?, ?B/s]
100%|##########| 51.9k/51.9k [00:00<00:00, 17.7MB/s]

In [23]:
file_name = 'world-development-indicators-by-countries.zip' #the file is your dataset exact name
with ZipFile(file_name, 'r') as zip:
  zip.extractall()
  print('Done')

Done

# Bringing the Data In

In [29]:
agricultural_data = pd.read_csv('datasets/agricultural_inputs.csv')
climate_data = pd.read_csv('datasets/climate.csv')
carbon_emission_data = pd.read_csv('datasets/co2_emission.csv')
carbon_emission_life_expect_data =  pd.read_csv('datasets/CO2Emission_LifeExp.csv')
trade_statistics =  pd.read_csv('datasets/commodity_trade_statistics_data.csv')
emissions_data =  pd.read_csv('datasets/emissions.csv')
freshwater_data =  pd.read_csv('datasets/freshwater.csv')
ghg_by_sector_data =  pd.read_csv('datasets/GHG-Emissions-by-sector.csv')
land_temp_by_city_data =  pd.read_csv('datasets/GlobalLandTemperaturesByCity.csv')
land_temp_by_country_data =  pd.read_csv('datasets/GlobalLandTemperaturesByCountry.csv')
global_temp_data =  pd.read_csv('datasets/GlobalTemperatures.csv')
ghg_emissions_data = pd.read_csv('datasets/greenhouse_gas_emissions.csv')
health_risk_factor_data =  pd.read_csv('datasets/Health_Risk_factors.csv')
health_systems_data = pd.read_csv('datasets/health_system.csv')
rural_data = pd.read_csv('datasets/rural.csv')
sustainability_data = pd.read_csv('datasets/sustainability.csv')
energy_data = pd.read_csv('datasets/energy.csv')

C:\Users\franc\anaconda3\envs\pyviz\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# Data Exploration

In [33]:
carbon_emission_data

            Entity Code  Year  Annual CO₂ emissions (tonnes )
0      Afghanistan  AFG  1949                        14656.00
1      Afghanistan  AFG  1950                        84272.00
2      Afghanistan  AFG  1951                        91600.00
3      Afghanistan  AFG  1952                        91600.00
4      Afghanistan  AFG  1953                       106256.00
...            ...  ...   ...                             ...
20848     Zimbabwe  ZWE  2013                     11536239.29
20849     Zimbabwe  ZWE  2014                     11866348.41
20850     Zimbabwe  ZWE  2015                     10907603.94
20851     Zimbabwe  ZWE  2016                      9932649.88
20852     Zimbabwe  ZWE  2017                     10397718.47

[20853 rows x 4 columns]

In [34]:
carbon_emission_life_expect_data

,Country,Code,CO2Emissions,YearlyChange,Percapita,Population,LifeExpectancy
0,Afghanistan,AFG,9900004,7.13,0.28,35383032,63.763
1,Albania,ALB,5208319,4.45,1.80,2886438,78.194
2,Algeria,DZA,156220560,0.17,3.85,40551392,76.298
3,Angola,AGO,30566933,3.13,1.06,28842489,59.925
4,Anguilla,AIA,30262,1.52,2.10,14429,81.441
...,...,...,...,...,...,...,...
203,Vietnam,VNM,206042140,0.09,2.20,93640422,75.172
204,Western Sahara,ESH,207592,2.61,0.39,538749,69.496
205,Yemen,YEM,25647990,1.62,0.94,27168208,66.087
206,Zambia,ZMB,4230584,3.67,0.26,16363458,62.464
207,Zimbabwe,ZWE,10062628,-4.17,0.72,14030331,60.294

In [35]:
trade_statistics

,country_or_area,year,comm_code,commodity,flow,trade_usd,weight_kg,quantity_name,quantity,category
0,Afghanistan,2016,10410,"Sheep, live",Export,6088,2339.0,Number of items,51.0,01_live_animals
1,Afghanistan,2016,10420,"Goats, live",Export,3958,984.0,Number of items,53.0,01_live_animals
2,Afghanistan,2008,10210,"Bovine animals, live pure-bred breeding",Import,1026804,272.0,Number of items,3769.0,01_live_animals
3,Albania,2016,10290,"Bovine animals, live, except pure-bred breeding",Import,2414533,1114023.0,Number of items,6853.0,01_live_animals
4,Albania,2016,10392,"Swine, live except pure-bred breeding > 50 kg",Import,14265937,9484953.0,Number of items,96040.0,01_live_animals
...,...,...,...,...,...,...,...,...,...,...
8225866,Zimbabwe,2001,TOTAL,ALL COMMODITIES,Export,1206807424,NaN,No Quantity,NaN,all_commodities
8225867,Zimbabwe,2001,TOTAL,ALL COMMODITIES,Re-Export,15943977,NaN,No Quantity,NaN,all_commodities
8225868,Zimbabwe,2000,TOTAL,ALL COMMODITIES,Export,1924962432,NaN,No Quantity,NaN,all_commodities
8225869,Zimbabwe,1995,TOTAL,ALL COMMODITIES,Import,2658853376,NaN,No Quantity,NaN,all_commodities
8225870,Zimbabwe,1995,TOTAL,ALL COMMODITIES,Export,1845905792,NaN,No Quantity,NaN,all_commodities

In [36]:
emissions_data

,Country,Net energy imports % of energy use 1990,Net energy imports % of energy use 2015,GDP per unit of energy use 2011 PPP $ per kilogram of oil equivalent 1990,GDP per unit of energy use 2011 PPP $ per kilogram of oil equivalent 2015,Carbon dioxide emissions Total thousand metric tons 1990,Carbon dioxide emissions Total thousand metric tons 2014,Carbon dioxide emissions Carbon intensity kilograms per kilograms of oil equivalent energy use 1990,Carbon dioxide emissions Carbon intensity kilograms per kilograms of oil equivalent energy use 2014,Carbon dioxide emissions per capita metric tons 1990,Carbon dioxide emissions per capita metric tons 2014,Carbon dioxide emissions kilograms per 2011 PPP $ of GDP 1990,Carbon dioxide emissions kilograms per 2011 PPP $ of GDP 2014
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.2,0.3,NaN,0.2
1,Albania,8.0,14.0,5.5,13.2,NaN,NaN,2.1,2.4,1.7,2.0,0.4,0.2
2,Algeria,-351.0,-177.0,12.0,10.2,NaN,NaN,3.5,2.8,3.0,3.7,0.3,0.3
3,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,NaN,NaN,NaN,NaN,407.0,462.0,NaN,NaN,7.5,5.8,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,Virgin Islands (U.S.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210,West Bank and Gaza,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.6,NaN,0.1
211,"Yemen, Rep.",-273.0,-121.0,16.0,12.0,NaN,NaN,3.8,3.1,0.8,0.9,0.2,0.2
212,Zambia,9.0,8.0,3.4,5.6,NaN,NaN,0.4,0.4,0.3,0.3,0.1,0.1
213,Zimbabwe,8.0,15.0,3.2,2.9,NaN,NaN,1.7,1.0,1.5,0.9,0.5,0.4

In [38]:
ghg_by_sector_data

                               Sub-sector  GlobalShare
0                                    Road         11.9
1                                Aviation          1.9
2                                    Rail          0.4
3                                Pipeline          0.3
4                                    Ship          1.7
5                             Residential         10.9
6                              Commercial          6.6
7                            Iron & Steel          7.2
8                       Non-ferous metals          0.7
9                               Machinery          0.5
10                       Food and tobacco          1.0
11                  Paper pulp & printing          0.6
12      Chemical & petrochemical (energy)          3.6
13                         Other industry         10.6
14               Energy in Agri & Fishing          1.7
15            Unallocated fuel combustion          7.8
16                                   Coal          1.9
17                      Oil & Natural Gas          3.9
18                                 Cement          3.0
19  Chemical & petrochemical (industrial)          2.2
20                     Livestock & Manure          5.8
21                       Rice Cultivation          1.3
22                     Agricultural Soils          4.1
23                           Crop Burning          3.5
24                            Forest Land          2.2
25                               Cropland          1.4
26                              Grassland          0.1
27                              Landfills          1.9
28                             Wastewater          1.3

In [39]:
ghg_emissions_data

,Country,Total greenhouse gas emissions thousand metric tons of carbon dioxide equivalent 2012,Total greenhouse gas emissions % change 1990-2012,Methane emissions thousand metric tons of carbon dioxide equivalent 2012,Methane emissions % change 1990-2012,Methane emissions From energy processes % of total 2008,Methane emissions Agricultural % of total 2008,Nitrous oxide emissions thousand metric tons of carbon dioxide equivalent 2012,Nitrous oxide emissions % change 1990-2012,Nitrous oxide emissions From energy processes % of total 2008,Nitrous oxide emissions Agricultural % of total 2008,Other greenhouse gas emissions thousand metric tons of carbon dioxide equivalent 2012,Other greenhouse gas emissions % change 1990-2012
0,Afghanistan,NaN,43.5,NaN,80.4,8.2,62.7,NaN,24.6,6.0,71.3,NaN,118.1
1,Albania,NaN,-19.9,NaN,3.8,25.8,65.0,NaN,-26.5,6.2,80.6,900.0,-75.0
2,Algeria,NaN,65.8,NaN,50.2,79.4,10.0,NaN,49.9,7.2,53.9,NaN,202.7
3,American Samoa,58.8,188.3,13.0,48.3,0.0,24.8,24.0,NaN,0.0,99.2,0.0,433.3
4,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,Virgin Islands (U.S.),61.5,35.8,47.0,39.5,0.0,7.2,13.0,37.2,0.0,93.1,0.0,NaN
210,West Bank and Gaza,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211,"Yemen, Rep.",NaN,218.5,NaN,128.5,27.8,46.8,NaN,77.4,13.7,71.0,NaN,433.3
212,Zambia,NaN,52.8,NaN,-77.5,40.3,38.3,NaN,-76.0,2.7,65.6,NaN,112.2
213,Zimbabwe,NaN,105.3,NaN,-16.3,12.2,69.8,NaN,-38.1,5.3,89.7,NaN,NaN

In [40]:
land_temp_by_city_data

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Århus,Denmark,57.05N,10.33E
1,1743-12-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
2,1744-01-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
3,1744-02-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
4,1744-03-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
...,...,...,...,...,...,...,...
8599207,2013-05-01,11.464,0.236,Zwolle,Netherlands,52.24N,5.26E
8599208,2013-06-01,15.043,0.261,Zwolle,Netherlands,52.24N,5.26E
8599209,2013-07-01,18.775,0.193,Zwolle,Netherlands,52.24N,5.26E
8599210,2013-08-01,18.025,0.298,Zwolle,Netherlands,52.24N,5.26E
8599211,2013-09-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E

In [41]:
land_temp_by_country_data

,dt,AverageTemperature,AverageTemperatureUncertainty,Country
0,1743-11-01,4.384,2.294,Åland
1,1743-12-01,NaN,NaN,Åland
2,1744-01-01,NaN,NaN,Åland
3,1744-02-01,NaN,NaN,Åland
4,1744-03-01,NaN,NaN,Åland
...,...,...,...,...
577457,2013-05-01,19.059,1.022,Zimbabwe
577458,2013-06-01,17.613,0.473,Zimbabwe
577459,2013-07-01,17.000,0.453,Zimbabwe
577460,2013-08-01,19.759,0.717,Zimbabwe
577461,2013-09-01,NaN,NaN,Zimbabwe

In [42]:
global_temp_data

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
0,1750-01-01,3.034,3.574,NaN,NaN,NaN,NaN,NaN,NaN
1,1750-02-01,3.083,3.702,NaN,NaN,NaN,NaN,NaN,NaN
2,1750-03-01,5.626,3.076,NaN,NaN,NaN,NaN,NaN,NaN
3,1750-04-01,8.490,2.451,NaN,NaN,NaN,NaN,NaN,NaN
4,1750-05-01,11.573,2.072,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
3187,2015-08-01,14.755,0.072,20.699,0.110,9.005,0.170,17.589,0.057
3188,2015-09-01,12.999,0.079,18.845,0.088,7.199,0.229,17.049,0.058
3189,2015-10-01,10.801,0.102,16.450,0.059,5.232,0.115,16.290,0.062
3190,2015-11-01,7.433,0.119,12.892,0.093,2.157,0.106,15.252,0.063
3191,2015-12-01,5.518,0.100,10.725,0.154,0.287,0.099,14.774,0.062

In [46]:
sustainability_data

,Country,People using safely managed drinking water services % of population 2017,People using safely managed sanitation services % of population 2017,Access to electricity % of population 2017,Renewable energy consumption % of total final energy consumption 2015,Expenditures for R&D % of GDP 2015,Urban population living in slums % of urban population 2014,Ambient PM2.5 air pollution mean annual exposure micrograms per cubic meter 2016,Adjusted net savings % of GNI 2017,Carbon dioxide emissions per capita metric tons 2014,Nationally protected terrestrial and marine areas % of total territorial area 2018,"Intentional homicides Combined source estimates per 100,000 people 2015",Internet use Individuals using the Internet % of population 2017
0,Afghanistan,NaN,NaN,97.7,18.4,NaN,62.7,56.3,2.7,0.3,0.1,10.0,13.5
1,Albania,70.0,39.9,100.0,38.6,NaN,NaN,18.2,8.2,2.0,13.5,2.8,71.8
2,Algeria,NaN,17.7,100.0,0.1,0.5,NaN,39.9,21.2,3.7,7.1,1.4,47.7
3,American Samoa,12.6,NaN,NaN,0.9,NaN,NaN,12.4,NaN,NaN,8.7,7.2,NaN
4,Andorra,90.6,100.0,100.0,19.7,NaN,NaN,10.3,NaN,5.8,26.7,0.0,91.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,Virgin Islands (U.S.),NaN,NaN,100.0,3.9,NaN,NaN,10.3,NaN,NaN,1.0,49.3,64.4
210,West Bank and Gaza,NaN,61.2,100.0,10.5,0.5,NaN,32.7,NaN,0.6,NaN,1.0,65.2
211,"Yemen, Rep.",NaN,NaN,79.2,2.3,NaN,60.8,50.1,NaN,0.9,0.6,6.7,26.7
212,Zambia,NaN,NaN,40.3,88.0,NaN,54.0,27.4,9.2,0.3,37.9,5.3,27.9
213,Zimbabwe,NaN,NaN,40.4,81.8,NaN,25.1,21.7,-22.2,0.9,27.2,6.7,27.1

In [47]:
energy_data

,Country,Access to electricity % of population 2000,Access to electricity % of population 2016,Access to electricity % of urban population 2016,Access to electricity % of rural population 2016,Access to clean fuels and technologies for cooking % of population 2000,Access to clean fuels and technologies for cooking % of population 2016,Renewable energy consumption % of total final energy consumption 2000,Renewable energy consumption % of total final energy consumption 2015,Renewable electricity output % of total electricity output 2000,Renewable electricity output % of total electricity output 2015
0,Afghanistan,NaN,97.7,99.5,97.1,8.8,32.4,54.2,18.4,75.0,86.1
1,Albania,100.0,100.0,100.0,100.0,39.8,77.4,41.4,38.6,96.1,100.0
2,Algeria,NaN,100.0,100.0,100.0,86.5,92.6,0.4,0.1,0.2,0.3
3,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.9,0.0,0.9
4,Andorra,100.0,100.0,100.0,100.0,100.0,100.0,14.9,19.7,100.0,86.1
...,...,...,...,...,...,...,...,...,...,...,...
209,Virgin Islands (U.S.),100.0,100.0,100.0,100.0,NaN,NaN,0.0,3.9,0.0,3.9
210,West Bank and Gaza,99.7,100.0,100.0,100.0,NaN,NaN,17.5,10.5,0.0,0.0
211,"Yemen, Rep.",50.0,76.1,97.4,64.4,51.8,64.9,1.2,2.3,0.0,0.0
212,Zambia,16.7,35.2,70.5,9.2,14.0,16.4,90.0,88.0,99.4,97.0
213,Zimbabwe,33.9,39.9,85.5,18.1,32.4,29.1,69.3,81.8,45.7,52.7